@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.cheatsheet-editor p {
  font-size: 0.6rem;
}

.cheatsheet-editor pre {
  font-size: 0.6rem;
  line-height: 1.5;
  background: none;
  color: black;
}

.cheatsheet-editor h1 {
  font-size: 1.5rem;
}

.cheatsheet-editor h2 {
  font-size: 1.2rem;
}

.cheatsheet-editor h3 {
  font-size: 0.9rem;
}
